
:root{
    --pink: #e84393;
}

/* general styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.1s ease;
}

*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255 0) !important;
    outline: none !important;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body{
    /* background-color: #f1cfde; */
}

/* Header */

header{
    position: fixed;
    background-color: pink;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.18);
    letter-spacing: 1.5px;
}

header .logo{
    font-size: 3rem;
    color: #2a2a2a;
    font-weight: bolder;
}

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #2a2a2a;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color: #2a2a2a;
    margin-left: 2rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #menu{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #2a2a2a;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    display: none;
}


section{
    padding: 2rem 9%;
    z-index: 1;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/assets/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


/* Home Section */

section{
    padding: 2rem 9%;
    z-index: 1;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/assets/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #2a2a2a;
}

.home .content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #3d3b3b;
    padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 25px;
    color: #fff;
    padding: 1.25rem 5rem;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #171717;
    transition: all 0.25s;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: var(--pink);
    /* color: #171717; */
}


/* About section */

.heading{
    text-align:center;
    font-size: 4rem;
    color: #2a2a2a;
    padding: 2rem 0;
    background-color: rgba(251, 119, 185, 0.5);
}

.heading span{
    color: var(--pink);
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6rem;
    font-weight: bolder;
    /* color: #2a2a2a; */
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    mix-blend-mode: screen;
}

.about .row .video-container .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #2a2a2a;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #3d3b3b;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
} 

/* Icons Section */

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    flex: 1 1 27rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.icons-container .icons img{
    padding: 0.5rem;
    padding-left: 2.8rem;
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color: #2a2a2a;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.icons-container .icons span{
    color: #171717;
    font-size: 1.3rem;
    font-weight: bold;
}



/* Products section */

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    /* overflow: hidden; */
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 2rem;
    background: rgba(255, 51, 153, 0.5);
    border-radius: 3.5px;
    z-index: 1;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
    transition: all 0.3s ease;
}

.products .box-container .box:hover > .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;
    left:0;
    right: 0;
    display: flex;
    transition: all 0.5s ease;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background-color: var(--pink);
    color: #fff;
    transition: all 0.25s ease;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: 2px solid #fff7;
    border-right: 2px solid #fff7; 
    width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: rgb(77, 4, 99);
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #111111;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: lighter;
    padding: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #3d3b3b;
    font-weight: bold;
    text-decoration: line-through;
}

/* review section */

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    top: 1rem;
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 3rem 2rem;
    position: relative;
    border: 0.1rem solid rgba(0,0,0,.2);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: #b7b7b7;
    font-size: 6rem;
}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 1.5rem;
    color: #171717;
}


/* Contact Section */

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    margin-top: 1rem;
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 3.5px;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;   
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #2a2a2a;
    text-transform: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    width: 97%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}



/* footer section */

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #2a2a2a;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: flex;
    color: #535353;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #2a2a2a;
    border-top: .1ren solid rgba(0, 0, 0, 0.1);
    background-color: pink;
}












/* @media queries */


@media (max-width: 990px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background: url(/assets/bg-mobile-crop.jpg) no-repeat;
        background-size: cover;
        background-position: center;   
        /* background-position: left; */
    }
}

@media (max-width: 768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        background-color: rgb(238, 238, 246);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.149);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.4s;
        background-color: pink;
    }

    header #menu:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        display: block;
        color: rgb(135, 9, 30);
        font-size: bolder;
        box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.2);
        border-radius: 20px;
        text-align: center;
        letter-spacing: 2px;

    }

    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        color: #2a2a2a;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .icons-container .icons span{
        font-size: 1.5rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 45%;
    }

    .heading{
        font-size: 2rem;
    }
}

@media (max-width: 1251px) {
    .about .row .video-container h3{
    font-size: 4rem;
    /* color: #2a2a2a; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }

    .icons-container .icons h3{
        font-size: 1.5rem;
    }
}